{% load static %}
<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="menu-title">
                    <span>Main Menu</span>
                </li>
                <li>
                    <a href="{% url 'hod_home' %}"><i class="fas fa-holly-berry"></i> <span>Dashboard</span></a>
                </li>
                <li class="submenu">
                    <a href="#"><i class="fas fa-user-graduate"></i> <span>Students</span> <span
                            class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="{% url 'Add_Student' %}">Add Student</a></li>
                        <li><a href="{% url 'View_Student' %}">View Student</a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="#"><i class="fas fa-chalkboard-teacher"></i> <span> Teachers</span> <span
                            class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="{% url 'Add_Staff' %}">Add Teachers</a></li>
                        <li><a href="{% url 'View_Staff' %}">View Teachers</a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="#"><i class="fa fa-graduation-cap"></i> <span>Course</span> <span
                            class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="{% url 'Add_Course' %}">Add Course</a></li>
                        <li><a href="{% url 'View_Course' %}">View Course</a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="#"><i class="fas fa-book-reader"></i> <span>Subjects</span> <span
                            class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="{% url 'Add_Subject' %}">Add Subject</a></li>
                        <li><a href="{% url 'View_Subject' %}">View Subject</a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="#"><i class="fas fa-clock"></i> <span>Session</span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="{% url 'Add_Session' %}">Add Session</a></li>
                        <li><a href="{% url 'View_Session' %}">View Session</a></li>
                    </ul>
                </li>
                <li>
                    <a href="holiday.html"><i class="fa fa-calendar"></i> <span>View Attendance</span></a>
                </li>
                <li>
                    <a href="holiday.html"><i class="fas fa-comments"></i> <span>Staff Feedback</span></a>
                </li>
                <li>
                    <a href="holiday.html"><i class="fas fa-comments"></i> <span>Student Feedback</span></a>
                </li>
                <li>
                    <a href="holiday.html"><i class="fas fa-envelope"></i> <span>Staff Leave</span></a>
                </li>
                <li>
                    <a href="holiday.html"><i class="fas fa-envelope"></i> <span>Student Leave</span></a>
                </li>
                <li>
                    <a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> <span>Log Out</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>